nav{
    width: 100%;
    padding: 10px 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.687);
    backdrop-filter: blur(10px);
    top: 0;
    z-index: 100;
    transition: background-color .3s  ease-in-out;

    &.scrolled {
        background-color: rgba(255, 255, 255, 0.684);
        backdrop-filter: blur(10px);
        .nav__profile{
            color: black;

            .nav__user{
                color: black;
            }
            p{
                color: black;
            }
        }

        
        .nav__cart {
            color: black;
            .nav__link{
                color: black;
            }

            select{
                color: black;
                border: 1px solid black;
            }
        }
        
        .nav__logo{
            a{
                color: black;
            }
        }
        
    }
    
    .nav__hug{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav__profile{
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: 600;
            color: white;
            text-transform: uppercase;
            letter-spacing: 2px;
            .nav__user{
                font-size: 20px;
            }
        }
    }

    .nav__logo{
        a{
            display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 600;
        color: white;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-decoration: none;
        }
    }

    .nav__cart{
        display: flex;
        align-items: center;
        gap: 20px;
        color: white;

        a{
            color: white;
        }

        .cart-icon{
            font-size: 20px;
        }

        select{
            border: none;
            padding: 3px 5px;
            border: .5px solid rgba(255, 255, 255, 0.503);
            border-radius: 5px;
            background-color: transparent;
            color: white;
        }
    }
}

.scrolled{
    background-color: white;
}